.container{
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width:770px){
    .container{
        margin:0 10%;
        width: 100%;

    }
    .image{
        width:100%;
    }
}