body{
    margin: 0;
    padding: 0;
    background-color: rgba(15, 248, 54, 0.249);
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.image{
    width:370px ;
    margin-top: 50px;
}
@media (max-width:770px){
    .container{
        margin:0 10%;

    }
    .image{
        width:100%;
    }
}